<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Estimado {{name}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin: 20px 0;
        }
        .footer {
            margin-top: 30px;
            font-size: 0.8em;
            color: #777;
        }
    </style>
</head>
<body>
    <h2>Se ha solicitado cambio de contraseña</h2>
    <p>Por favor, no compartas tu nueva contraseña con nadie y cuando inicies sesion cambia nuevamente tu contraseña con otra.</p>
    <h3>Nueva contraseña: {{password}}</h3>    
    <a href="{{url}}" class="button">Iniciar Sesion</a>
    
    
    <div class="footer">
        <p>Este es un mensaje automático, por favor no respondas a este correo.</p>
    </div>
</body>
</html>